{% extends 'baseWideCentered.html' %}{% load static %}{% load crispy_forms_filters %}
{% block style %}
<style>
#preview img{
  height: 100pt;
  max-width: 100%;
}
table{
  table-layout: fixed;
}
</style>
{% endblock %}
{% block content %}

  <form id='q_form' action="{% url 'update_question' s_id=subject.id l_id=lesson.id q_id=q_form.instance.id %}" method="POST" enctype='multipart/form-data'>{% csrf_token %}

    {{ qc_formset.management_form }}

    <table class="w-100">
      <tr>
        <td colspan="2">
            {{ q_form.text | as_crispy_field}}
        </td>
      </tr>
      <tr>
        <td>
          {{ q_form.label | as_crispy_field}}
        </td>
        <td>
          {{ q_form.timeout | as_crispy_field}}
        </td>
      </tr>
      <tr>
        <td>
          {{ q_form.image | as_crispy_field}}
        </td>
        <td id="preview" class="text-center">
            {% if q_form.instance.image %}
            <img   class="rounded" src="{{ q_form.instance.image.url }}" alt="Preview">
            {% endif %}
        </td>
      </tr>
      {% for form in qc_formset %}
      {% cycle '<tr>' '' '<tr>' '' %}
          <td>
            {{ form.id }}
            <label>Answer {{ forloop.counter }}</label>
            <div class="input-group my-2 choice">
              {{form.text}}
              <div class="input-group-append input-group-text">
                  {{form.correct}}
              </div>
            </div>
          </td>
      {% cycle '' '</tr>' '' '</tr>' %}
      {% endfor %}
    </table>

    <div id="input_row" class="form-group mt-2">
        <input type="submit" id="add_btn" class="btn btn-light float-right" value="Update">
        <a class="btn btn-light" href="{% url 'questions' s_id=subject.id l_id=lesson.id%}">Back</a>
    </div>

  </form>

{% endblock %}
{% block script %}
  <script type="text/javascript" src='{% static "user/js/questions.js" %}'></script>
{% endblock %}